{% extends 'base.html.twig' %}

{% block title %}Mon compte-La boutique francaise{% endblock %}

{% block content %}
<h1>Mon compte</h1>
    bienvenue <b>{{ app.user.firstname}}  {{ app.user.lastname}}</b> dans votre espace personnel
    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    <br>
    <a href="{{ path('account_address') }}">Gérer mes adresees</a>
    <br>
    <a href="{{ path('account_order') }}">Mes commandes</a>
    <hr>
{% endblock %}
