{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Elégance{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    c'est dans cet espace que vous allez pouvoir gérer toutes vos commandes <br>
    <a href="{{ path('account') }}">Retour</a>

    {% if orders|length == 0 %}
        <hr>
        <p class="text-center">
            Vous n'avez pas encore passé de commandes sur la boutique  Elégance </p>
    {% else%}

        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">Réference</th>
                <th scope="col">Passé le</th>
                <th scope="col">produits</th>
                <th scope="col">Total</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in orders %}
                <tr>
                    <td><span class="badge badge-secondary">{{ item.reference }}</span></td>
                    <td>{{ item.createdAt|date('d/m/Y') }}</td>
                    <td>{{ item.orderDetails|length }}</td>
                    <td>{{((item.carrierPrice + item.getTotal)/100)|number_format(2,',','.')}} €</td>
                    <td class="text-right"><a href="">Voir ma commande</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}